* {
  margin:  0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color:  #fff;
  color:  #555;
  font-family: 'Spectral SC', 'Noto Serif' ;
  text-rendering:  optimizeLegibility;
}

.progress {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

body {
  padding-bottom: 50px;
}

progress{
  background-color:red;
  color:red;
  }
progress[value] {color:red} /* IE10 */
progress::-webkit-progress-bar-value {background-color:red}
progress::-webkit-progress-value {background-color:red}
progress::-moz-progress-bar {background-color:red}

header {
  height: 100vh;
  background-attachment: fixed;
  background-color: #1abc9c;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url("https://images.unsplash.com/photo-1501868984184-76121ed6a6e2?auto=format&fit=crop&w=1650&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
}

.seemless {
  height: 70vh;
  margin: 0 auto;
  background-attachment: fixed;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url("https://images.unsplash.com/photo-1488190211105-8b0e65b80b4e?auto=format&fit=crop&w=2250&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
}

#youtube {
  display: none;
}

@media screen and (min-width: 320px) { iframe { display:none; }}

.seemless2 {
  height: 70vh;
  margin-left: 0%;
  background-attachment: fixed;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0, 0.3)), url("https://images.unsplash.com/photo-1507409613952-518459ac866e?auto=format&fit=crop&w=2250&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  -webkit-animation: fadein 2.7s; /* Safari, Chrome and Opera > 12.1 */
   -moz-animation: fadein 2.7s; /* Firefox < 16 */
    -ms-animation: fadein 2.7s; /* Internet Explorer */
     -o-animation: fadein 2.7s; /* Opera < 12.1 */
        animation: fadein 2.7s;
}

#audio {
  margin-top: -10px;
}

#success {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 10%;
  color: white;
}

@keyframes fadein {
  from { opacity:  0; }
  to { opacity:  1; }
}

.logo {
  width: auto;
  float: left;
  margin-top: 20px;
}

.pika {
  margin-left: 10px;
  display: inline-block;
  width: 37px;
  height: auto;
}

.main-nav {
  float: right;
}

.space {
  width: 12px;
  display: inline-block;
}

.main-nav li {
  margin-left: -10px;
  display:  inline-block;
  margin-right: 37px;
  text-decoration: none;
  margin-top: 35px;
  font-size: 17px;
}


.ion-android-favorite {
  display: inline-block;
}

.main-nav li a:link,
.main-nav li a:visited
 {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 130%;
  padding-bottom: 10px;
  border-bottom: 2px solid transparent;
  transition:  border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom:  2px solid #e67e22;
}

h1 {
  margin:  0;
  color:  #fff;

  text-transform:  uppercase;
  letter-spacing: 1px;
  word-spacing:  3px;

}

#h1-header {
  font-size: 2.5em;
}

.hero-text-box {
  position: absolute;
  width: 100%;
  top:  50%;
  left:  50%;
  transform:  translate(-40%, -40%);
  color: white;
}

.btn {
  margin-top: 10px;
  display: inline-block;
  margin-left: 6%;
  font-weight: 300;
  text-decoration: none;
  color: white;
  background-color: #ce8b0e;
}


.row {
  max-width:  1140px;
  margin: 0 auto;
}

img {
  margin: 0 auto;
  height: 140px;
}

button {
  margin-left:  100px;
  color: black;
}

iframe {
  border: none;
  margin: none;
  padding: none;
  width: 100%;
}

.divider {
  width: 10px;
  display: inline-block;
}

.navbar-btn {
  float: right;
}

#wrap {
}

navbar {
  position:  fixed;
}

.sticky {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  background-color: rgba(225, 225, 225, 0.97);
}

.navbar-image {
  position: absolute;
  top: 0px;
  margin: 10px;
  height: 33px;
  width: auto;
}
/* .loginwrapper {
  float: left;
  position: relative;
  height: 300px;
  width: 300px;
  border-style: solid;
  border-width: 1px;
  margin: 5px;
} */

#signin  {
  color: black;
  border-width: 5px;
  border-style: solid;
  border-color: white;
  width: 310px;
  height: 310px;
  padding: 50px;
  display: inline-block;
  position: absolute;
  margin: auto;

}

#centerlog {
  display: inline-block;
  position: absolute;
  margin-top: 2%;
  /*margin: auto;*/

  margin-left: 35%;
  /*margin-right: 35%;*/
}

i {
  margin-left: 48%;
}

h3 {
  display: block;
  text-align: center;
}

#author {
  color: white;
}

#input {
  color: black;
  margin-bottom: 10px;
}

.nav-container a {
  display: inline-block;
}

textarea {
  position: relative;
  /*background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url("https://images.unsplash.com/photo-1456324504439-367cee3b3c32?auto=format&fit=crop&w=2100&q=60&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");*/
  height: 400px;
  width: 50%;
  background-size: cover;
  background-position: center;

  resize: none;
  font-size: 12.7px;
  font-weight: bold;
  color: black;
}

input {
  font-size: 12.7px;
  font-weight: bold;
  color: black;
  display: block;
}

form {
  color: black;
  font-weight: bold;
  margin: 7%;
}

#hello {
  border: solid;
  border-width: 5px;
  border-color: lightblue;
  display: inline-block;
  margin: 5%;
  padding: 20px;
  margin-bottom: 0px;
  width: 40%;
}

#textarea {
  color: black;
  width: 100%;
  height: 280px;
}

.entryInfo {
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  font-size: 25px;

}

#text {
  color: black;

}

h2 {
  width: 100%;
  padding-top: 3%;
  padding-bottom: 3%;
  word-spacing: 2px;
  text-align: center;
}
/*
use border-radius, try to find pixel conversion
Navy #001f3f.
OLIVE #3D9970.
*/

.title {
  margin-left: 25%;
  margin-right: 25%;
  border: solid;
  border-width: 6px;
  width: 50%;
  border-color: #3D9970;
  padding-top: 1%;
  padding-bottom: 1%;
  word-spacing: 2px;
}

.ion-ios-glasses-outline {
  margin-top: -22px;
}

.ionicon p {
  padding-top: 15px;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
  display: block;
  width: 500px;
  margin-left: 50%;
  transform:  translate(-50%, -50%);
  font-size: 16px;
  border-top: solid;
  border-color: lightblue;
}


/*button {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: white;
  color: orangered;
  font-weight: bold;
  border-style: normal;
  padding: none;
}*/

#enter {
  color: steelblue;
  font-weight: bold;
  font-size: 17.7;
}

h4 {
  font-family: sans-serif;
  color: lightblue;
}

/* #background {
  background-image:url('https://source.unsplash.com/1600x900/?nature');
  background-repeat:no-repeat;
  background-size: cover;
}
 */
/*#input {
  background-color: lightblue;
}

/* font-family: 'Poiret One', cursive;
font-family: 'Volkhov', serif;
font-family: 'Spectral SC', serif;
font-family: 'Noto Serif', serif; */
.ion-ios-musical-notes {
  font-size: 270%;
  padding-left: 3px;
}
.icon-big {
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

.icon-medium {
  display: inline-block;
  color: red;
  margin: 0 5px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;

    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
}

.tab {
  margin-left: 20px;
  color: white;
}

#container {
  min-width: 100px;
  max-width: 600px;
  width:100%;
  height: 400px;

  display: inline-block;

  margin-top: 10px;


  vertical-align: top;
}

#inputdisplay {
  display: inline-block;
  width: 50%;
  margin-right: 0px;
}

.btn-submit {
  margin-top: 5px;
  display: inline-block;
  /*margin-left: 80%;*/
  float: right;
  font-weight: 300;
  text-decoration: none;
  color: white;
  background-color: #ce8b0e;
}

#results {
  margin-top: 24px;


  display: inline-block;
  width: 50%;
  vertical-align: top;

}

#impactful {
  width: 50%;
  margin-left: 0%;
}

